@import "tailwindcss";

html,
body {
  background-color: #fbf6f1;
  color: #000000;
}
:root {
  --container-padding: 1.5rem;
  --color-bg-main: #fbf6f1;
}

body {
  font-family: var(--font-gopher), sans-serif;
}
.fade-up {
  opacity: 0;
  animation: fadeUp 0.9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


